<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.walle">

    <application
        tools:replace="android:icon,android:roundIcon,android:theme,android:label,android:allowBackup"
        android:icon="${appIcon}"
        android:label="${AppLabel}"
        android:roundIcon="${appRoundIcon}"
        android:allowBackup="false"
        tools:targetApi="m"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>